/*General style*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/natural-pattern.png');
  background-size: cover;
  padding: 1%
}

/*Intestazione*/
header .head {
  margin: auto;
  width: 70%;
  height: 300px;
}

.head {
  background-image: url('../img/natural-header.jpg'), url('../img/natural-logo.png');
  background-size: cover;
  border: 10px solid white;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}
