/*General style*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/natural-pattern.png');
  background-size: cover;
  padding: 1%
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

/*Intestazione*/
header .head {
  margin: auto;
  width: 70%;
  height: 300px;
}

.head {
  background-image: url('../img/natural-header.jpg'), url('../img/natural-logo.png');
  background-size: cover;
  border: 10px solid white;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

header p {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/*Nav*/
.nav {
  background-color: #666;
  text-align: center;
  width: 70%;
  margin: auto;
  line-height: 40px;
}

nav .menu li {
  display: inline-block;
}

nav .menu ul li a {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  padding: 10px;
}

/*Corpo della pagina*/
main::after; {
  content: '';
  display: table;
  clear: both;
}

main {
  margin-top: 5%;
}

/*Colonna sinistra*/
.left-col {
  width: 15%;
  background-color: white;
  float: left;
  border-radius: 3%;
  margin-left: 15%;
  padding: 10px;
}

.icona {
  color: orange;
  font-size: 30px;
  float: left;
  width: 20%;
}

.org {
  float: left;
  width: 80%;
  padding-bottom: 5%;
}

a {
  color: green;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

/*Colonna centrale*/
.middle-col {
  width: 30%;
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
  float: left;
  border-radius: 3%;
  padding: 15px;
}

/*Common attributes*/
.left-col .org h2,
.middle-col h2,
.middle-col p,
.right-col p,
.right-col h2,
.right-col-bottom h2,
.right-col-bottom p,
.right-col-bottom-1 h2,
.right-col-bottom-1 p {
  font-family: Roboto, sans-serif;
  line-height: 30px;
}

.middle-col p,
.right-col p,
.right-col-bottom p,
.right-col-bottom-1 p {
  padding-top: 30px;
}

/*Colonne destra*/
.right-col {
  width: 15%;
  background-color: white;
  float: left;
  border-radius: 3%;
  padding: 15px;
}

.right-col-bottom {
  width: 15%;
  background-color: white;
  border-radius: 3%;
  margin-top: 5%;
  padding: 15px;
  float: left;
  margin-right: 15%;
}

.right-col-bottom-1 {
  width: 15%;
  background-color: white;
  border-radius: 3%;
  margin-top: 5%;
  padding: 15px;
  float: right;
  margin-right: 15%;
}

/*Footer*/
footer {
  background-color: white;
  width: 70%;
  text-align: center;
  padding-top: 2%;
  float: right;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.foot p {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #666;
}

.rif ul li {
  display: inline-block;
  padding:50px;
}

.rif ul li a {
  color: #666;
  font-size: 50px;
}

.fb :hover {
  color: blue;
}

.insta :hover {
  color: #f400a1;
}

.git :hover {
  color: black;
}
