/*General style*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/natural-pattern.png');
  background-size: cover;
  padding: 1%
}

/*Intestazione*/
header .head {
  margin: auto;
  width: 70%;
  height: 300px;
}

.head {
  background-image: url('../img/natural-header.jpg'), url('../img/natural-logo.png');
  background-size: cover;
  border: 10px solid white;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

header p {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/*Nav*/
.nav {
  background-color: #666;
  text-align: center;
  width: 70%;
  margin: auto;
  line-height: 40px;
}

nav .menu li {
  display: inline-block;
}

nav .menu ul li a {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
}
